<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- SocketHL7Listener Module Properties -->
	<id>sockethl7listener</id>
	<name>sockethl7listener</name>
	<version>1.7.0</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Meena Sheley and Vibha Anand</author>
	<description>
			Accepts and processes hl7 messages
	</description>

	<activator>@MODULE_PACKAGE@.SocketHL7ListenerActivator</activator>
	<require_modules>
		<require_module version="1.12.0">org.openmrs.module.chirdlutil</require_module>
		<require_module version="2.6.0">org.openmrs.module.chirdlutilbackports</require_module>
	</require_modules>
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.sockethl7listener.extension.html.AdminList</class>
	</extension>
	
	<globalProperty>
		<property>sockethl7listener.checkForDuplicates</property>
		<defaultValue>true</defaultValue>
   		<description>Check for arrival of duplicate hl7 messages
   		</description>
	</globalProperty>	
	<globalProperty>
		<property>sockethl7listener.port</property>
		<defaultValue>8765</defaultValue>
   		<description>Port to listen for messages on</description>
	</globalProperty>	
	<globalProperty>
		<property>sockethl7listener.archiveHL7ErrorDirectory</property>
   		<description>Directory to store all hl7 message with errors during processing</description>
	</globalProperty>	
	<globalProperty>
		<property>sockethl7listener.exportFileType</property>
		<defaultValue>tif</defaultValue>
   		<description>File type for export form</description>
	</globalProperty>	
	<globalProperty>
        <property>sockethl7listener.encounterDateTimeWindow</property>
        <defaultValue>0</defaultValue>
        <description>Allowable time window (minutes) to be considered a duplicate encounter. </description>
    </globalProperty>   
    <globalProperty>
        <property>sockethl7listener.ignoreDuplicateEncounter</property>
        <defaultValue>true</defaultValue>
        <description>Ignore hl7 message if it is for the same encounter. </description>
    </globalProperty>   
    <globalProperty>
        <property>sockethl7listener.hapiCharacterEncoding</property>
        <description>Sets the character encoding Hapi will use to parse HL7 messages.  If not set, Hapi's default encoding will be used.</description>
    </globalProperty>  
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<mappingFiles>
	hl7Out.hbm.xml
	InstProv.hbm.xml
	NPI.hbm.xml
	PatientMessage.hbm.xml
	</mappingFiles>
</module>

