<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration>
 
<log4j:configuration debug="true">

<logger name="SocketHandlerLogger" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="SocketHandlerAppender"/>
</logger>

 <!-- appender definitions -->
   <appender name="SocketHandlerAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${catalina.home}/logs/SocketHandler.log"/>
    <param name="Threshold" value="WARN"/>
    <param name="Append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%C{1}.%M|%d{ISO8601}|%t|%m%n"/>
    </layout>
  </appender>  
  
</log4j:configuration>