<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- SocketHL7Listener Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Meena Sheley and Vibha Anand</author>
	<description>
			Accepts and processes hl7 messages
	</description>

    <activator>@MODULE_PACKAGE@.SocketHL7ListenerActivator</activator>
	<require_version>2.0.6</require_version>
	<require_modules>
		<require_module version="1.18.0">org.openmrs.module.chirdlutil</require_module>
		<require_module version="2.10.0">org.openmrs.module.chirdlutilbackports</require_module>
		<require_module version="1.3.1">org.openmrs.module.legacyui</require_module>
	</require_modules>
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.sockethl7listener.extension.html.AdminList</class>
	</extension>
	
	<globalProperty>
		<property>sockethl7listener.checkForDuplicates</property>
		<defaultValue>true</defaultValue>
   		<description>Check for arrival of duplicate hl7 messages
   		</description>
	</globalProperty>	
	<globalProperty>
		<property>sockethl7listener.port</property>
		<defaultValue>8765</defaultValue>
   		<description>Port to listen for messages on</description>
	</globalProperty>	
	<globalProperty>
		<property>sockethl7listener.archiveHL7ErrorDirectory</property>
   		<description>Directory to store all hl7 message with errors during processing</description>
	</globalProperty>	
	<globalProperty>
		<property>sockethl7listener.exportFileType</property>
		<defaultValue>tif</defaultValue>
   		<description>File type for export form</description>
	</globalProperty>	   
    <globalProperty>
        <property>sockethl7listener.hapiCharacterEncoding</property>
        <description>Sets the character encoding Hapi will use to parse HL7 messages.  If not set, Hapi's default encoding will be used.</description>
    </globalProperty>  
	<globalProperty>
        <property>sockethl7listener.unknownProviderId</property>
        <description>The provider.provider_id of the provider to use when an attending provider is not set in the HL7 message. If not set, encounters will not be created from HL7 messages that do not contain an attending provider.</description>
    </globalProperty>
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<mappingFiles>
	hl7Out.hbm.xml
	PatientMessage.hbm.xml
	</mappingFiles>
</module>

